{% extends 'people.html' %}

	{% block sub-title%}
		<img src="/static/img/logo/advisor.png">
	{% endblock %}

	{% block content %}
      	<div class="row">
      		<div class="col-lg-2">
				<img class="img-square" src='/static/img/people/{{ user.people.picture }}' alt="Generic placeholder image" width="130" height="168">
				<h4>{{ user.first_name }} {{ user.last_name }}</h4>
				<h4>{{ user.people.last_name_chinese }}{{ user.people.first_name_chinese }}</h4>
				<h5>{{ user.people.status }}</h5>
				{{ user.email }} <br><br><br>
				<p><a class="btn btn-default" href="{{ user.people.link }}" role="button"> HomePage &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-5">
				<p>
					Jie-Hong R. Jiang received his B.S. and M.S. degrees in Electronics Engineering from National Chiao Tung University, Hsinchu, Taiwan, in 1996 and 1998, respectively. In 2004, he received the Ph.D. degree in Electrical Engineering and Computer Sciences from the University of California, Berkeley.
				</p>
				<p>
					During his compulsory military service, from 1998 to 2000, he was a Second Lieutenant with the Air Force, R.O.C. Before joining National Taiwan University in August 2005, he was with the University of California at Berkeley as a postdoctoral researcher. He is now an associate professor at National Taiwan University. His current research interests include foundations of system construction, system analysis and verification, hardware synthesis and optimization, and computation with quantum physics.
				</p>
				<p>
					Mr. Jiang is a member of IEEE, ACM, and the Phi Tau Phi scholastic honor society.
				</p>
			</div>
		</div><!-- /.row -->
	{% endblock %}