{% extends 'people.html' %}

	{% block sub-title%}
		<img src="/static/img/logo/collaborators.png">
	{% endblock %}

	{% block content %}
        {% for collaborator in collaborators %}
            <ul  class= "list-group" > 
                <li  class= "list-group-item" > 
                    <span  class= "badge" > {{ collaborator.country }} </span>
                    <span  class= "badge" > {{ collaborator.department }} </span>
                    {{ collaborator.name }}
                </li> 
            </ul>
        {% endfor %}
	{% endblock %}