{% extends 'research.html' %}

	{% block sub-title%}
	{% endblock %}

	{% block content %}
		<font face="Comic Sans MS" size="4"><font color="#ff0000">A</font><font color="#000080">L</font><font color="#ffcc00">C</font><font color="#99cc00">om</font> <font color="#cc66ff">Lab</font></font> is concerned with developing key techniques to advance the efficiency and quality of system design. Theoretical and experimental approaches are both taken. Among the broad interests, three main themes are particularly covered:<br><br>
		<p><img src="/static/img/logo/verification.png"></p>
      	<p>
      		Ensuring design correctness is crucial in all hardware and software designs.Infact, verification is the most time-consuming part of modern systemdesign. Somerecent statistics show verification may take up to 60~80% ofthe total designtime and may require a 3-to-1 ratio between verificationengineers and circuitdesigners. Therefore, developing effectiveverification techniques has greatimpact on system design. Sample topicsinclude sequential equivalence checking,property checking, arithmeticcircuit verification, etc.
      	</p><br>
		<p><img src="/static/img/logo/optimization.png"></p>
      	<p>
      		As IC manufacturing process advances, design paradigms shift. Under stringent design criteria, exploiting optimal solutions in various abstraction levels is desperately needed. Sample topics include language equation solving for digital circuit optimization, statistical analysis and optimization for VLSI manufacturability, etc.
      	</p><br>
		<p><img src="/static/img/logo/foundations.png"></p>
      	<p>
      		Tomorrow's important technology breakthroughs stems from today's basic research. It is interesting to explore what we can build from emerging novel technologies. Sample topics include quantum computation models, heterogeneous system modeling, etc.
      	</p><br>
		<p><img src="/static/img/logo/sponsors.png"></p>
      	<p>
      		<a href="http://web.nsc.gov.tw/">National Science Council</a>
      	</p>
	{% endblock %}