<!doctype html>
<html>
  
  <head>

	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {% block title %}{% endblock %} </title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

    <!--新Bootstrap核心CSS文件--> 
    <link  rel= "stylesheet"  href= "http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" >

  </head>

	<body>

  <!-- NAVBAR -->
	<div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/">
              	ALCom
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/home/">Home</a></li>
                <li ><a href="/news">News</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">People <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/people/advisor">Advisor</a></li>
                    <li><a href="/people/graduate/PHD">Graduate Students</a></li>
                    <li><a href="/people/former/2014">Former Students</a></li>
                    <li><a href="/people/collaborators">Collaborators</a></li>
                  </ul>
                </li>
                <li><a href="/research/">Research</a></li>
                <li><a href="#contact">Publications</a></li>
                <li><a href="#contact">Tools</a></li>
                <li><a href="#contact">Student Info</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Private <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Personal Data</a></li>
                    <li><a href="#">Discuss Area</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Activity</li>
                    <li><a href="#">Lab Schedule</a></li>
                    <li><a href="#">Photos</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Meetings</li>
                    <li><a href="#">Info / Materials</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Quick Add / Edit</li>
                    <li><a href="#">Member</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Publication</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Backend Management</li>
                    <li><a href="/admin/">Django Admin</a></li>
                    <li><a href="#">Manager Guide</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
  </div>

  <div class="container marketing">

  {% block sub-region %}{% endblock %}

  <hr class="featurette-divider">

	<!-- FOOTER -->
  <footer class="footer">
    <p class="pull-right">Design by <a href="#">dokelung</a></p>
    <p>&copy; 2015 ALCom, Lab. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
  </div>

	</body>
</html>